.cm-header-1 {
    font-size: 1.875rem;
    font-weight: bold;
}

.cm-header-2 {
    font-size: 1.5rem;
    font-weight: bold;
}

.cm-header-3 {
    font-size: 1.25rem;
    font-weight: bold;
}

.cm-comment {
    font-size: .875rem;
}

.md-editor {
    border: #ddd solid 1px;
}

.md-editor-toolbar {
    background: #eee;
    border-bottom: 1px solid #ccc;
    display: block;
    margin: 0;
    padding: 0;
}

.md-editor-toolbar li {
    display: inline-block;
    position: relative;
    z-index: 1
}

.md-editor-toolbar li.fullScreen {
    float: right;
}

.md-editor-toolbar li a {
    color: #666;
    cursor: pointer;
    display: block;
    font-size: 1rem;
    line-height: 40px;
    text-align: center;
    width: 40px;
    text-decoration: none;
}

.md-editor-toolbar .blockquote {
    margin-bottom: 0;
}

.md-editor-toolbar li.subHeader a  {
    font-size: .875rem;
}

.md-editor-toolbar li a.disabled {
    cursor: default;
    color: #ccc;
}

.md-editor-toolbar li:hover a:not(.disabled) {
    color: #000;
}

.fullscreen {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
}

.md-editor-preview {
    z-index: 99999999;
}
