.cm-header-1 {
  font: 28px Menlo, Consolas, Monaco, 'Andale Mono', monospace;
  font-weight:  bold;
}

.cm-header-2 {
  font: 22px Menlo, Consolas, Monaco, 'Andale Mono', monospace;
  font-weight: bold;
}

.cm-header-2 {
  font: 18px Menlo, Consolas, Monaco, 'Andale Mono', monospace;
  font-weight: bold;
}
.mainHeader a:after {
    content: "1";
    font: 12px Menlo, Consolas, Monaco, 'Andale Mono', monospace;
}
.subHeader a:after {
    content: "2";
    font: 12px Menlo, Consolas, Monaco, 'Andale Mono', monospace;
}

.md-editor-toolbar {
	background: #eee;
	border-bottom: 1px solid #ccc;
	display: block;
    margin: 0;
    padding: 0;
}

.md-editor-toolbar li {
    display: inline-block;
    position: relative;
    z-index: 1
}

.md-editor-toolbar li.fullScreen {
    float: right;
}

.md-editor-toolbar li a {
	color: #666;
	cursor: pointer;
	display: block;
	font-size: 16px;
	line-height: 40px;
	text-align: center;
	width: 40px;
    text-decoration: none;
}
.md-editor-toolbar li a.disabled {
    cursor: default;
    color: #ccc;
}

.md-editor-toolbar li:hover a:not(.disabled) {
	color: #000;
}

.fullscreen {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
}
.md-editor-preview {
    z-index: 99999999;
}
